<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="accessToken" value="" />
    <add key="clientToken" value="" />
    <add key="userName" value="steve" />
    <add key="uuid" value="" />
    <add key="Game" value="" />
    <add key="DefaultDirectory" value="false" />
    <add key="Width" value="854" />
    <add key="Height" value="480" />
    <add key="FullScreen" value="false" />
    <add key="JavaPath" value="" />
    <add key="Memory" value="1024" />
    <add key="AutoMemory" value="false" />
    <add key="assetIndex" value="true" />
    <add key="MoreValue" value="false" />
    <add key="JavaValue" value=" " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>